.formWrapper {
  border: 2px solid rgb(83, 83, 83);
  border-radius: 6px;
  width: 320px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-top: 12px;
}
.formLable {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 0 auto;
}
.formSpan {
  padding-top: 6px;
}

.formBtn {
  width: 110px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.input {
  height: 28px;
}
.error {
  color: red;
}
